<div class="flex w-full h-[85vh] justify-center items-center overflow-auto">
  <div class="flex flex-col w-10/12 md:w-4/5 lg:w-1/4 items-center">
    <h1>Ingresar</h1>
    <form
      [formGroup]="loginForm"
      class="flex flex-col w-full justify-center"
      (submit)="onSubmit()"
    >
      <div class="w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Correo electrónico</mat-label>
          <input
            type="email"
            matInput
            placeholder="Correo electrónico"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Contraseña</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            placeholder="Contraseña"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="w-full flex flex-col justify-between">
        <button
          mat-stroked-button
          mat-button
          class="my-5"
          [disabled]="!loginForm.valid"
          type="submit"
        >
          Ingresar
        </button>
        <a mat-button [routerLink]="['/register']">Registrarme</a>
      </div>
    </form>
  </div>
</div>
